.nestum-header {
  width: 100%;
}

.nestum-header-menu {
  text-align: right;
}

.nestum-header-menu button.navbar-toggler {
  background: none;
}

.nestum-header-menu ul li {
  display: inline-block;
}

.nestum-active-underline {
  bottom: -5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 50px;
}

.img-espiga-trigo {
  bottom: -150px;
  left: -50px;
  position: absolute !important;
}

.nestum-productos-tabs .elementor-tabs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.nestum-productos-tabs .elementor-tabs-wrapper .elementor-tab-desktop-title {
  box-sizing: border-box;
  padding: 16px;
}

#nestum-trigo .elementor-image-box-sub-title {
  color: #b95131;
}

#nestum-5cereales .elementor-image-box-sub-title {
  color: #b5302d;
}

#nestum-arroz .elementor-image-box-sub-title {
  color: #3896af;
}

#nestum-miel .elementor-image-box-sub-title {
  color: #d19219;
}

#nestum-avena .elementor-image-box-sub-title {
  color: #6f5390;
}

#nestum-frutas .elementor-image-box-sub-title {
  color: #9bb336;
}

#nestum-frutilla .elementor-image-box-sub-title {
  color: #ac1b74;
}

#nestum-cacao .elementor-image-box-sub-title {
  color: #6c5027;
}

@media screen and (max-width: 767px) {
  .nestum-menu .navbar-collapse.collapse {
    background-color: #f4a352;
    -webkit-box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.35);
    box-sizing: content-box;
    margin-top: 32px;
    padding: 16px;
    position: absolute;
    right: 6%;
    text-align: center;
    transform-origin: right;
    width: 80vw;
  }

  .nestum-menu .navbar-collapse.collapse li {
    display: block;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .nestum-active-underline {
    bottom: 40px;
    left: 60%;
    width: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .nestum-active-underline {
    bottom: 12px;
    left: 65%;
    width: 60px;
  }
}
