/* Full screen data display */
.hablemos__display {
  background-color: #188fb6;
  bottom: 100%;
  color: white;
  height: 100%;
  left: 0;
  position: absolute;
  transform-origin: 50% 0%;
  width: 100%;
}

.hablemos__display-container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hablemos__display-close .close-icon {
  width: 64px;
}

.hablemos__display-close .close-icon:after {
  border-left: 8px solid #fff;
  border-radius: 8px;
  content: "";
  height: 48px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -20%) rotate(45deg);
  top: 50%;
}

.hablemos__display-close .close-icon:before {
  border-left: 8px solid #fff;
  border-radius: 8px;
  content: "";
  height: 48px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -20%) rotate(-45deg);
  top: 50%;
}

.hablemos__display-texts {
  margin-right: 3rem;
}

.hablemos__display-texts h3 {
  color: #ffffff;
  display: block;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.hablemos__display-texts p {
  border-bottom: 1px solid #fff;
  color: #fff;
  display: block;
  font-family: "Titillium Web", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  padding: 1rem 0;
  text-align: center;
}

.hablemos__display-close {
  font-size: 5rem;
}

/*
    Animations
*/

.hablemos__display--appears {
  animation: appears 300ms forwards ease-out;
}

.hablemos__display--disappears {
  animation: disappears 300ms forwards ease-out;
}

@media screen and (max-width: 768px) {
  .hablemos__display-texts,
  .hablemos__display-close {
    width: 100%;
  }

  .hablemos__display-texts {
    margin: 0;
  }

  .hablemos__display-texts h3 {
    font-size: 1.4rem;
  }

  .hablemos__display-texts p {
    font-size: 4rem;
  }

  .hablemos__display-close {
    position: relative;
    margin-top: 2rem;
  }

  .hablemos__display-close .close-icon {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 440px) {
  .hablemos__display-texts p {
    font-size: 2.2rem;
  }
}
