.savory__chamonix--chocolate-tres-leches-manjar-2-5l {
  background-image: radial-gradient(circle farthest-corner, #f7dfc3 0%, #c5935e 65%, #9e3f13 100%);
}

.savory__chamonix--frutilla-1l {
  background-image: radial-gradient(circle farthest-corner, #fecee0 0%, #dd527a 100%);
}

.savory__chamonix--mora-crema-2-5l {
  background-image: radial-gradient(circle farthest-corner, #fce0e6 0%, #f04167 35%, #500071 100%);
}

.savory__chamonix--pina-1l {
  background-image: radial-gradient(circle farthest-corner, #faf89f 0%, #f2bd1b 67%, #c49403 100%);
}

.savory__chamonix--pina-2-5l {
  background-image: radial-gradient(circle farthest-corner, #faf89f 31%, #e3ab00 80%, #c49403 100%);
}

.savory__chamonix--trisabor-1l {
  background-image: radial-gradient(circle farthest-corner, #fff4b1 0%, #fb9ab7 32%, #690121 100%);
}

.savory__chamonix--trisabor-2-5l {
  background-image: radial-gradient(circle farthest-corner, #fff4b1 0%, #fb9ab7 33%, #690121 100%);
}

.savory__chamonix--vainilla-1l {
  background-image: radial-gradient(circle farthest-corner, #fef6ce 0%, #d1be20 100%);
}
