.savory__multipack--mini-maracuya {
  background-image: radial-gradient(circle farthest-corner, #ffe726 0%, #925400 100%);
}

.savory__multipack--mini-ruby {
  background-image: radial-gradient(circle farthest-corner, #9f223d 0%, #91304d 18%, #6d2a39 100%);
}

.savory__multipack--mini-manjar-galletas {
  background-image: radial-gradient(circle farthest-corner, #795c63 0%, #341d25 100%);
}

.savory__multipack--mini-triton {
  background-image: radial-gradient(circle farthest-corner, #225574 0%, #225574 17%, #020206 100%);
}

.savory__multipack--mini-nogatonga {
  background-image: radial-gradient(circle farthest-corner, #ffecdb 0%, #de9146 39%, #40180c 100%);
}

.savory__multipack--mini-sahne-nuss-cono {
  background-image: radial-gradient(circle farthest-corner, #fef1b4 0%, #f6b935 22%, #69220b 100%);
}

.savory__multipack--mini-sahne-nuss-paleta {
  background-image: radial-gradient(circle farthest-corner, #fef1b4 0%, #f6b935 40%, #8b2020 100%);
}

.savory__multipack--mini-prestigio {
  background-image: radial-gradient(circle farthest-corner, #fdbbbb 0%, #fc4e68 37%, #790309 100%);
}

.savory__multipack--mini-kriko {
  background-image: radial-gradient(circle farthest-corner, #ffd4d4 3%, #fa9c9c 49%, #e61949 100%);
}

.savory__multipack--chocolito {
  background-image: radial-gradient(circle farthest-corner, #edc492 15%, #49250b 87%, #522a02 100%);
}

.savory__multipack--crocanty {
  background-image: radial-gradient(circle farthest-corner, #ffef27 0%, #ca151d 35%, #41160c 100%);
}

.savory__multipack--bliz-and-pap {
  background-image: radial-gradient(circle farthest-corner, #fed338 18%, #a91914 100%);
}

.savory__multipack--centella {
  background-image: radial-gradient(circle farthest-corner, #fdff59 0%, #32b214 100%);
}
