/* Close icon */
.close-icon {
  cursor: pointer;
  height: 60px;
  position: relative;
  width: 60px;
}

/* Top menu icon */
.elementor-top-column .elementor-element-populated .elementor-widget-menu .elementor-menu {
  margin: 0;
  padding: 0;
}

.elementor-top-column .elementor-element-populated .elementor-widget-menu .elementor-menu nav {
  margin: 0;
}

.elementor-top-column .elementor-element-populated .elementor-widget-menu .elementor-menu nav .container {
  margin: 0;
  padding: 0;
  text-align: right;
}

/* Top menu content */
#navbarDesktop {
  background-color: #188fb6;
  display: block !important;
  height: 100vh !important;
  left: 0;
  position: fixed;
  top: -100vh;
  transform-origin: 50% 0%;
  width: 100%;
}

#navbarDesktop .menu--main {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 35%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#navbarDesktop .menu--main li {
  float: none;
  font-size: 2rem;
}

#navbarDesktop .menu--main li:not(:last-of-type)::after {
  color: white;
  content: "-";
  font-size: 3rem;
  line-height: 1rem;
}

#navbarDesktop .menu--main li a,
#navbarDesktop .menu--main li a:active,
#navbarDesktop .menu--main li a:hover {
  background: none;
}

#navbarDesktop .menu--main li a {
  color: white;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 300ms;
}

#navbarDesktop .menu--main li a:hover {
  color: rgb(62, 219, 254);
  transform: scale(1.1);
}

.navbarDesktop__display--appears {
  animation: appears 300ms forwards ease-out;
}

.navbarDesktop__display--disappears {
  animation: disappears 300ms forwards ease-out;
}

@keyframes appears {
  0% {
    opacity: 0;
    top: -100vh;
  }

  15% {
    opacity: 0.85;
  }

  100% {
    opacity: 0.95;
    top: 0;
  }
}

@keyframes disappears {
  0% {
    opacity: 0.95;
    top: 0;
  }

  100% {
    opacity: 0;
    top: -100vh;
  }
}

.navbarDesktop__display-close {
  position: absolute;
  right: 3rem;
  top: 3rem;
}

.navbarDesktop__display-close .close-icon:after {
  border-left: 12px solid #fff;
  border-radius: 24px;
  content: "";
  height: 60px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
}

.navbarDesktop__display-close .close-icon:before {
  border-left: 12px solid #fff;
  border-radius: 24px;
  content: "";
  height: 60px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}

/* Icon to open shops */
.elementor-icon .fa.fa-shopping-cart {
  background-color: white;
  border: 4px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 2.8rem;
  padding: 28px;
}

.elementor-icon .fa.fa-shopping-cart::before {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-60%, -50%);
  -ms-transform: translate(-60%, -50%);
  transform: translate(-60%, -50%);
}

/* Icon to open nutritional popup */
.elementor-button-popup .btn-popup {
  border: 4px solid transparent;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bolder;
  height: 32px;
  position: relative;
  width: 32px;
}

.elementor-button-popup .btn-popup:before {
  background: none;
  border: 8px solid #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 180%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 180%;
}

/* Social Media */
.navbarDesktop__display-social-media {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.social-media-icon {
  margin: 0 0.5rem;
  width: 64px;
}

.social-media-icon img {
  height: auto;
  width: 100%;
}

/* Shops bars */
.btn_para-compartir {
  position: fixed;
  z-index: 1;
}

.shops_para-compartir {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  left: 50%;
  padding: 4px;
  position: absolute !important;
  top: 50%;
  transform: translate(-50%, 50%);
  width: 60vw;
  z-index: 1;
}

/* Search */
.savory-search-container {
  background-color: #188fb6;
  display: block !important;
  height: 100vh !important;
  left: 0;
  position: fixed !important;
  top: -100vh;
  transform-origin: 50% 0%;
  width: 100%;
}

.savory-search-container > .elementor-container {
  height: 100%;
  width: 100%;
}

.savory-search {
  left: 50%;
  position: absolute !important;
  transform: translateX(-50%);
}

.savory-search form input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
  max-width: 256px;
  transition: all 300ms;
  width: 25vw !important;
}

.savory-search form input::placeholder {
  color: rgba(255, 255, 255, 0.95);
  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
  text-align: center;
  transition: all 300ms;
}

.savory-search form input:focus {
  border-bottom: 1px solid white;
  box-shadow: none;
}

.savory-search form button.button.form-submit {
  display: none;
}

.savory-search__display-close {
  position: absolute;
  left: 100%;
}

.savory-search__display-close .close-icon:after {
  border-left: 6px solid #fff;
  border-radius: 24px;
  content: "";
  height: 32px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
}

.savory-search__display-close .close-icon:before {
  border-left: 6px solid #fff;
  border-radius: 24px;
  content: "";
  height: 32px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(-45deg);
}
