.savory__infantiles--zoorpresa {
  background-image: radial-gradient(circle farthest-corner, #f8c685 3%, #d1913f 49%, #b26b11 100%);
}

.savory__infantiles--big-bang {
  background-image: radial-gradient(circle farthest-corner, #ffd4d4 3%, #fa9c9c 49%, #e61949 100%);
}

.savory__infantiles--centella {
  background-image: radial-gradient(circle farthest-corner, #fdfaa0 0%, #deda69 24%, #9ab33e 55%, #466202 100%);
}

.savory__infantiles--trululu {
  background-image: radial-gradient(circle farthest-corner, #fecda4 0%, #f6821d 40%, #5d2709 100%);
}

.savory__infantiles--kriko {
  background-image: radial-gradient(circle farthest-corner, #ffd4d4 3%, #fa9c9c 49%, #e61949 100%);
}

.savory__infantiles--bliz-pap {
  background-image: radial-gradient(circle farthest-corner, #ffe1c8 0%, #fa6e43 49%, #910b01 87%, #910b01 100%);
}

.savory__infantiles--centella-tres-leches {
  background-image: radial-gradient(circle farthest-corner, #ece3d2 0%, #967c50 40%, #371602 100%);
}
