.savory__danky--cheeskater {
  background-image: radial-gradient(circle farthest-corner, #9d1ecc 0%, #a73575 54%, #88214f 100%);
}

.savory__danky--manjar-21 {
  background-image: radial-gradient(circle farthest-corner, #e6c6ad 0%, #ae141d 54%, #391606 100%);
}

.savory__danky--nogatonga {
  background-image: radial-gradient(circle farthest-corner, #d09e30 0%, #a05326 49%, #34140d 100%);
}
