.savory__mega--maracuya {
  background-image: radial-gradient(circle farthest-corner, #efce3a 6%, #a47614 59%, #833c05 100%);
}

.savory__mega--manjar-galletas {
  background-image: radial-gradient(circle farthest-corner, #795c63 0%, #341d25 100%);
}

.savory__mega--frambuesa {
  background-image: radial-gradient(circle farthest-corner, #b43746 15%, #841a1d 63%, #421015 100%);
}

.savory__mega--almendra {
  background-image: radial-gradient(circle farthest-corner, #d09e30 0%, #a05326 53%, #34140d 100%);
}
