.naturnes-header {
  width: 100%;
}

.naturnes-header-menu {
  text-align: right;
}

.naturnes-header-menu button.navbar-toggler {
  background-color: #4d7a36 !important;
  padding: 8px 12px;
}

.naturnes-header-menu ul li {
  display: inline-block;
}

.naturnes-menu nav {
  margin-bottom: 0;
}

.naturnes-slider-bottom-img {
  bottom: 0;
  position: absolute !important;
}

.naturnes-form-answers legend {
  border: none;
}

.naturnes-form-answers .fieldset-wrapper {
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .naturnes-menu .navbar-collapse.collapse {
    background-color: white;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.35);
    box-sizing: content-box;
    margin-top: 20px;
    padding: 16px;
    position: absolute;
    right: 6%;
    text-align: left;
    transform-origin: right;
    width: 80vw;
  }

  .naturnes-menu .navbar-collapse.collapse li {
    display: block;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .form-naturnes-concurso .form-item-nombre {
    box-sizing: border-box;
    float: left;
    padding-right: 32px;
    width: 33%;
  }

  .form-naturnes-concurso .form-item-email {
    box-sizing: border-box;
    float: left;
    padding-right: 32px;
    width: 33%;
  }

  .form-naturnes-concurso .form-item-direccion {
    box-sizing: border-box;
    float: left;
    width: 33%;
  }

  .form-naturnes-concurso .form-item-nombre-hijo {
    box-sizing: border-box;
    float: left;
    padding-right: 32px;
    width: 33%;
  }

  .form-naturnes-concurso .form-item-edad-hijo {
    box-sizing: border-box;
    float: left;
    margin-right: 16%;
    width: 30%;
  }

  .form-naturnes-concurso .form-type-webform-terms-of-service {
    max-width: 285px;
  }

  .form-naturnes-concurso .form-type-webform-terms-of-service label {
    font-weight: 600;
  }
}
