.naturnes-header {
  width: 100%;
}

.naturnes-header-menu {
  text-align: right;
}

.naturnes-header-menu button.navbar-toggler {
  background-color: #4d7a36 !important;
  padding: 8px 12px;
}

.naturnes-header-menu ul li {
  display: inline-block;
}

.naturnes-menu nav {
  margin-bottom: 0;
}

#naturnes-6meses .elementor-title-editor,
#naturnes-9meses .elementor-title-editor,
#naturnes-12meses .elementor-title-editor {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

#naturnes-6meses .elementor-widget-dsu-c_image,
#naturnes-9meses .elementor-widget-dsu-c_image,
#naturnes-12meses .elementor-widget-dsu-c_image {
  margin-top: 6rem;
}

.naturnes-productos-top-line {
  position: absolute !important;
  top: 0;
  width: 100%;
}

.naturnes-productos-top-line img {
  vertical-align: top !important;
}

.naturnes-productos-bottom-line {
  bottom: 0;
  position: absolute !important;
  width: 100%;
}

.naturnes-productos-bottom-line img {
  vertical-align: bottom !important;
}

@media screen and (max-width: 767px) {
  .naturnes-menu .navbar-collapse.collapse {
    background-color: white;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.35);
    box-sizing: content-box;
    margin-top: 20px;
    padding: 16px;
    position: absolute;
    right: 6%;
    text-align: left;
    transform-origin: right;
    width: 80vw;
  }

  .naturnes-menu .navbar-collapse.collapse li {
    display: block;
    padding-bottom: 16px;
  }

  .naturnes-productos-tabs .elementor-tab-mobile-title {
    padding-bottom: 8px;
  }

  .naturnes-productos-tabs .elementor-tab-mobile-title img {
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px 128px 16px 8px;
  }

  .naturnes-productos-tabs .elementor-tab-mobile-title.elementor-active img {
    background-color: #c7d795;
  }
}
